audio.wav
browser_history.txt
clipboard.txt
clipboard.txt.encrypted
consolidated_log.txt
consolidated_log.txt.encrypted
key_log.txt
key_log.txt.encrypted
network_info.txt
screenshot.png
system_info.txt
system_info.txt.encrypted
webcam.png
wifi_info.txt
wifi_info.txt.encrypted